body {
      background-color: #f8f9fa;
    }

    .accordion-item {
      background-color: rgb(184, 244, 255);
      border-radius: 0.25rem;
      margin-bottom: 1rem;
    }

    .accordion-button {
      color: #333;
      font-weight: bold;
    }

    .accordion-button:hover {
      color: #000;
    }

    .accordion-button.collapsed {
      color: #333;
    }

    .accordion-body {
      color: #333;
      background-color: #fff;
    }
    
    header {
      padding: 14px 100px 14px 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color:#fff;
    }

    .navigation {
      list-style: none;
      margin: 0;
      display: flex;
    }

    .navigation li{
      margin: 0 0 0 15px;
      font-size: 20px;
      color: #fff;
    }

    a {	
      text-decoration: none;
      color: #4b4b4b;
    }